extends layouts/LayoutTheme
include mixins/common/ServicesCard
include mixins/home/landing/HeroHeader
include mixins/home/landing/Brands
include mixins/home/landing/HowItHappens
include mixins/home/landing/Testimonial
include mixins/home/landing/PricingTable
include mixins/home/landing/PhotosShot
include mixins/home/landing/Services
include mixins/home/landing/Faq
include mixins/home/landing/Cta
include mixins/home/landing/Footer



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +Brands
  +HowItHappens
  +Testimonials
  +Pricing
  +PhotosShot
  +Services
  +Faqs
  +Cta
  +Footer
