mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-800.text-decoration-none(href='#!')
        =item

mixin Footer
  +Section.py-0.pt-7
    .row
      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Why Us
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('About Us','Affiliate','Fashion Blogger')

      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Product
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Shipping Info','Refunds','How to Order','How to Track','Size Guides')

      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Resources
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Contact Us','Payment Methods','Bonus Point')
      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Company
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Contact Us','Payment Methods','Bonus Point') 
      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Pricing
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Contact Us','Payment Methods','Bonus Point')       

      .col-sm-6.col-lg-2
        h5.lh-lg.fw-bold.text-1000 Contact

        p.text-800
          i.fas.fa-phone-alt.text-primary.me-2
          span.text-900 +214556905345
        p.text-800
          i.fas.fa-envelope.text-warning.me-2
          span.text-800 something@email.com
        p.text-800
          i.fas.fa-map-marker-alt.text-success.me-2
          span.text-800 567, Kansas,  San Francisco, USA 
      .col-12
        .text-center.mb-5
          a(href='#!')
            i.me-4.fab.fa-facebook.fs-3.text-facebook
          a(href='#!')  
            i.me-4.fab.fa-twitter.fs-3.text-twitter
          a(href='#!')  
            i.me-4.fab.fa-instagram.fs-3.text-instagram


    .border-bottom.border-3
    .row.flex-center.my-3
      .col-md-6
        p All rights Reserved &copy; Your Company, 2021
      .col-md-6.order-1.order-md-0
        p.my-2.text-1000.text-end  Made with&nbsp;
          svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='#EB6453' viewBox='0 0 16 16')
            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

          |&nbsp;by&nbsp;
          a(href='https://themewagon.com/' target='_blank').text-800 ThemeWagon 
      