mixin HeroHeader
  section.py-0#header
    .container
      .row.align-items-center.min-vh-50
        .col-12.text-center
          h1.lh-sm.fs-7 Product Photography 
            br
            |  Services in San Francisco 
          p.text-700 Ship or drop off your products today to get high-quality photos in days, not weeks.