
append variables
  -
    var headerProducts= [
      {
        image:'product-1.png',
      },
      {
        image:'product-2.png',
      },

      {
        image:'product-3.png',
      },
      {
        image:'product-4.png',
      },

      {
        image:'product-5.png',
      },
       {
        image:'product-1.png',
      },
      {
        image:'product-2.png',
      },

      {
        image:'product-3.png',
      },
      {
        image:'product-4.png',
      },

      {
        image:'product-5.png',
      },
    ]


mixin HeaderProductCard(config)
  .row.justify-content-between
    .col-11
      img.swiper-image(src=`${CWD}assets/img/gallery/${config.image}`   alt='products')

mixin HeroHeader({id})
  section.py-0#header
    .container
      .row.align-items-center.min-vh-75
        .col-12.text-center
          h1.lh-sm.fs-lg-7 San Francisco Based 
            br
            | Product Photography  Services 
          p.text-700 Get high-quality aesthetic photographs of your valuable products within few days 
          .mt-5
            a.btn.btn-sm.btn-warning.rounded-pill(type='submit')
              i.fas.fa-camera.me-2(width='12' height='12')
              | Book a photoshoot
    .container-fluid      
      .swiper-container.pb-4(data-pagination-target=id) 
        .swiper-wrapper
          each item in headerProducts
            .swiper-slide.h-auto
              +HeaderProductCard(item) 
        //- .swiper-pagination(id=id)